.MessageBubble {
        padding: 10px;
        border-radius: 20px;
        width: fit-content;
        max-width: 80%;
        text-align: center;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: black;
        overflow: hidden;
}

.sender {
    /* background-color: rgb(56, 191, 221); */
    /* text-align: right; */
    /* border: 2px solid rgb(56, 191, 221); */
    /* border: 1px solid rgb(173, 179, 180);
    color: rgb(56, 191, 221); */
    box-shadow: 0 0 10px 0 rgba(56, 191, 221, 0.3);
    align-self: flex-start;
    text-align: left;
}

.receiver {
    /* background-color: rgb(217, 64, 166); */
    /* text-align: left; */
    /* border: 2px solid rgb(217, 64, 166); */
    /* border: 1px solid rgb(173, 179, 180); */
    box-shadow: 0 0 10px 0 rgba(217, 64, 166, 0.1);
    align-self: flex-end;
    text-align: right;
}

.MessageBubbleText {
    /* color: black; */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 0px 10px;
    /* font-size: 12px; */
    font-size: clamp(10px, 1.5vw, 10px);
}