.NavBar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.NavBarLogoContainer {
    overflow: hidden;
}

.HeroContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.HeroTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeroTitle {
    font-family: var(--font-manrope);
    font-size: clamp(26px, 2.5vw, 32px);
    font-weight: 800;
    color: white;
    text-align: center;
    padding: 0 10px;
    max-width: 400px;
    text-align: center;
}

.HeroSubtitle {
    font-family: var(--font-playfair-display);
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 0 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 360px;
    text-align: center;
}

.GlobeContainer {
    height: 550px;
    position: fixed; /* Changed from absolute to fixed */
    bottom: 0px; /* Stays in same viewport position */
    width: 100%;
    z-index: 1;
    /* transform: translateX(100%); Initial position off-screen */
    pointer-events: none; /* Prevent interference with scrolling */
    overflow: hidden;
    background-color: blue;
}

.Globe {
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
